.canvas-align{
  text-align: center;
}
.wtc-canvas-footer-text{
  text-align: center;
  color: green;
}
.wtc-canvas-header-text{
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 2px;
}
