.ctr-cls{
   // background-color:red !important;
   // color: "blue";
   //border: 1px solid darken($base-color, 20%);
    //text-shadow: 0 -1px 0 darken($base-color, 10%);
    background-image: url('https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSQkqfF5v6N_i4vUXFM_fLXR-ZXHmEDRPVaJn4pLARleiAK9YBUCg');
    background-size:cover;
    background-repeat: no-repeat;
}
.form-cls{
    background-color:white !important;
}

.button-cls{
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
}
